---
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/megan-graham.jpg"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Megan Graham</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Megan has been interested in health and wellbeing from a young age. She has been
              fascinated with finding ways to be truly embodied in the modern world, which led her
              to therapeutic dance, singing and various types of massage. Megan has received
              hundreds of massages in her life — from remedial to Thai, Chinese and Swedish forms —
              which has given her an excellent sense of how bodywork feels from the client's
              perspective.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Through her own health journey and recognising the limitations of the western medicine
              model, she became interested in therapies like osteopathy and QiGong. Having
              personally benefited from complementary medicine, it was a natural progression to
              undertake formal study in the hopes of offering healing to others. She began this
              journey in 2019, obtaining a Diploma of Shiatsu and Oriental Therapies from the
              Australian Shiatsu College.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Megan uses Zen, Classical and Barefoot forms of shiatsu in every treatment, along with
              body stretches that help open the flow of Qi along the meridians. She uses Tsubo
              points — acupressure points which treat different organ systems, emotional states and
              health conditions — to compliment the core treatment of massage and palpation that
              deeply nourishes the whole body. Megan is also trained to provide moxibustion, cupping
              and sotai therapies to help encourage the body towards wholeness and healing.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Megan warmly welcomes clients of any age, gender, culture and sexual orientation into
              a safe and non-judgemental treatment space. She also welcomes people who are
              neurodivergent and people who have chronic health conditions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
